# Docker Compose environment variables
# Copy this file to .env and fill in the values

# Postgres
POSTGRES_USER=faucet
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_DB=faucet

# Indexer
INDEXER_STORAGE_PASSWORD=indexer
INDEXER_PUB_SUB_PASSWORD=indexer
INDEXER_LEDGER_STATE_PASSWORD=indexer
INDEXER_SECRET=303132333435363738393031323334353637383930313233343536373839303132

THIRD_PARTY_API_KEY=test-api-key-12345
 TESTCONTAINERS_UID=501